@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@400;700&display=swap');
*{
    margin: 0 auto;
}
span img{
    margin: 1em;
}

body{
    background: black;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 660px;
    margin: 0 auto;
    padding: 0 20px;
}

header{
    background: #179774 url(./images/photo-1574607383476-f517f260d30b.png)
    top center / cover;
    text-align: center;
    padding: 150px 0;
    color: #fff;
    border-bottom: 2px solid #179774;
    box-shadow: 0 0 10px rgba(131, 239, 68, 0.815);
}

header h1{
    color: #179774;
    font-family: 'roboto', cursive;
    font-size: 7em;
    -webkit-text-stroke: 1px #fff;
    
    line-height: 1em;
    text-align: left;
    transform: skewY(-5deg);
    padding-bottom: 60px;
}

header h1 span{
    display: block;
    text-align: right;
}

header p {
    color: white;
    font-size: 18px;
    max-width: 540px;
    margin: 0 auto;
}

form {
    background-color: #151515;
    border-radius: 12px;
    padding: 50px;
    margin: -100px 0 150px;
    font-size: 28px;
    position: relative;
    box-shadow: 0 40px 50px -50px rgba(131, 239, 68, 0.815);
}

form input{
    display: block;
    /* font-size: 50px; */
    width: 100%;
    border: none;
    border-radius: 12px;
    height: 30px;
    padding: 15px;
    background: #242d3b;
    color: white;
    transition: 0.5s;
}

form input:focus{
    outline: none;
    box-shadow: 0px 10px 30px -20px rgba(131, 239, 68, 0.815);
    filter: contrast(85%);
}

form label{
    color: white;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 15px;
}

form .subscribe{
    max-width: 300px;
    height: auto;
    background: #151515;
    border-radius: 50px;
    border: #179774 2px solid;
    font-weight: bold;
    line-height: normal;
    margin: 0 auto -80px;
}

form .subscribe:hover{
    background: #179774;
    color: #151515;
    cursor: pointer;
}


/* Mailchimp edit */
form .mc-field-group {
    margin-bottom: 35px;
}

form .indicates-required {
    color: white;
    font-size: 0.5em;
    margin: 35px 0;
    text-align: right;
}

form input + .mce_inline_error{
    display: inline-block;
    font-size: 0.5em;
    position: relative;
}

form input + .mce_inline_error::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #6b0505;
    position: absolute;
    top: -8px;
}
form #mce-success-response{
    background: #179774;
    padding: 25px;
    text-align: center;
    color: white;
    border-radius: 12px;
    transition: 1s;
    animation: response 1s forwards;
}

form label .asterisk {
    color: #179774;
    font-size: 0.5em;
    vertical-align: super;
}
footer{
    box-sizing: border-box;
    width: 100%;
    color: white;
    background-color: #179774;
    padding: 1rem;
    display:flex;
    /* place-items: center; */
}
footer p{
    width: 30%;
}
.socials{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}
a{
    text-decoration: none;
    color: white;
}

@keyframes response {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform:  translateY(0);
    }
}

@media (max-width: 768px){
    header{
        padding: 100px 0;
    }
    header h1{
        font-size: 4em;
    }
    footer{
    flex-direction:column
    }
    footer p{
        width: 100%;
        margin: 1rem;
    }
    .socials{
        width: 100%;
    }
}
@media (max-width: 410px){
    header{
        padding: 100px 0;
    }
    header h1{
        font-size: 3em;
    }
    label{
        font-size: 0.7em;
    }
    form #mce-success-response{
        font-size: 0.5em;
    }
    footer{
        flex-direction:column
        }
        footer p{
            width: 100%;
            margin: 1rem;
        }
        .socials{
            width: 100%;
        }
}